@import url("https://fonts.cdnfonts.com/css/gill-sans-2");
@import url("https://fonts.cdnfonts.com/css/abril-fatface");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

article {
  /* font-family: "Gill Sans", sans-serif; */
  max-inline-size: 400px;
  background: #fff;
  margin-block: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  border: 1px solid #dadceb;
  /* text-wrap: balance; */
  /*Avoid pure black text:*/
  color: #252525;
  overflow: hidden;
}

.picture {
  display: grid;
  /* padding: 0.5rem; */

  > * {
    grid-area: 1 / 1;
  }

  .back {
    background-color: #fff;
    place-self: start;
    margin: 1rem;
    z-index: 1;
    padding: 2%;
    border-radius: 50%;
    color: #838383;
  }

  .image-count {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    line-height: 1;
    place-self: end;
    background: #838383;
    color: #fff;
    margin: 1rem;
  }

  img {
    /*hacky løsning til et lille problem*/
    transform: scale(1.01);
  }
}

header {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.amenities {
  margin-bottom: 1.2rem;
}

.card-content {
  display: grid;
  /* gap: 1rem; */
  padding: 0 
  2rem 
  1rem;
}

.title {
  /* font-family: "Abril Fatface", sans-serif; */
  font-weight: 400;
  font-size: 2rem;
  /* color: #3c55cc; */
}

.location {
  color: #838383;
  /* text-transform: uppercase; */
  font-size: 0.95em;
  font-weight: bold;
}

.description p {
  /* text-align: center; */
  margin-bottom: 1rem;
  line-height: 1.5;
}

.amenities-details {
  display: flex;
  gap: 1rem;

  li {
    flex: 1;
    display: grid;
    gap: 0.75rem;
    place-items: center;
    padding: 0.25rem;
    background: #ffffff;
    color: #838383;
  }
}

footer {
  padding: 1rem 2rem;
  box-shadow: 0 -2px 4px -1px #0002;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0.75rem 1rem;
    border: none;
    line-height: 1;
    border-radius: 8px;
    font-weight: bold;
    /* font: inherit; */
    /* background: #F0F2FF;
        color: #3C55CC; */
    background: #3c55cc;
    color: #F0F2FF;
  }

  .price {
    font-weight: 600;

    span {
      color: #908f9f;
      font-size: 0.75em;
      font-weight: 400;
    }
  }
}

@layer reset {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100svh;
    font-family: "DM Sans", system-ui, sans-serif;
    display: grid;
    place-content: center;
    background: #f5f6fa;
  }

  img,
  svg {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}
